.modal-overlay{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: rgba(2, 1, 1, 0.219);
    width: 100vw;
    height: 101vh;
    

}


.modal-overlay:hover{
    cursor: pointer;
}




.task-modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    width: 800px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 5;
    border-radius: 5px;
    overflow: hidden;
}   

.task-text-modal{
    font-size: 23px;
    font-family: 'Open Sans';
    font-weight: bold;
    width: 510px;
   
}

.task-description-modal{
    margin-top: 30px;
    width: 500px;
    font-size: 18px;
    font-family: 'Roboto';
    
}

.task-modal-image{
    position: relative;
    background-color: rgb(187, 187, 187);
    width: 500px;
    height: 150px;
    margin-top: 20px;
    transition: 0.3s;
}

.add-image-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Open Sans";
    color: white;
}

.task-modal-image:hover{
    cursor: pointer;
    background-color: rgb(117, 117, 117);
}

.task-modal-side-bar-heading{
    margin-top: 20px;
}




.task-modal-status-open{
    margin-top: 10px;
    background-color: #336CF0;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;

}

.task-modal-status-open:hover{
    background-color: #19409b;
    cursor: pointer;
}

.task-modal-status-in-progress{
    margin-top: 10px;
    background-color: #F1C52A;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.task-modal-status-in-progress{
    background-color: #b3921d;
    cursor: pointer;
}

.task-modal-status-stuck{
    margin-top: 10px;
    background-color: #E74B3C;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
}

.task-modal-status-stuck:hover{
    background-color: #aa3227;
    cursor: pointer;
}

.task-modal-status-complete{
    margin-top: 10px;
    background-color: #2FCC71;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    display: inline-block;
}

.task-modal-status-complete:hover{
    background-color: #209952;
    cursor: pointer;
}


.task-modal-side-bar{
    position: absolute;
    padding-left: 20px;

    top: 0px;
    right: 20px;
    border-left: 1px solid black;
    height: 100%;
    width: 220px;

}

.close-task-modal{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 0px;
    font-weight: bold;
}


.close-task-modal:hover{
    cursor: pointer;
}


.task-modal-priority{
    font-family: 'Open Sans';
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: red;
    padding: 5px 10px;
    font-size: 20px;
}


.critical{
    color: rgb(189, 0, 0);
    background-color: rgb(250, 136, 136);
}
.serious{
    color: rgb(200, 53, 0);
    background-color: rgb(255, 150, 112);
}
.moderate{
    color: rgb(0, 114, 0);
    background-color: rgb(103, 221, 103);
}


.task-modal-date-created{
    background-color: #2f3640;
    display: inline-block;
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}


.task-modal-task-author{
    margin-top: 10px;
}

.change-status-container{
    position: absolute;
    text-align: center;
    padding: 10px;
    background-color: white;
    height: auto;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.change-status-selector{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    background-color: rgb(16, 16, 177);
    color: white;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-weight: bold;
}


.open{
    background-color: #336CF0;
}

.in-progress{
    background-color: #F1C52A;
}

.stuck{
    background-color: #E74B3C;
}

.complete{
    background-color: #2FCC71;
}

@media only screen and (max-height: 900px) {
   

  }